body {
  font-size: 100%;
  font-family: "Open Sans", Verdana, Arial, sans-serif;
}

.container {
  width: 700px;
  margin: 0 auto;
}

h1 {
  font-family: "Open Sans Condensed", Verdana, Arial, sans-serif;
  font-weight: 700;
}

.navigation {
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  color: #999;
}

a { 
  text-decoration: none;
  color: #900;
}

.selfie {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
